<footer>
    <p>Hello the Copyright is registered in year {{getCurrentYear}}</p>
</footer>



{{! to mark comment we use this !}}
{{! this page will call whenever the "{{> footer"  is called and will return the view   --!}}