<header><h1>{{WebSite_Name}}</h1>
    <p><a href="/"> Home</a></p>
    <p><a href="/about"> About</a></p>
    <p><a href="/projects"> projects</a></p>

</header>


{{! to mark comment we use this --!}}
{{! this page will call whenever the "{{> header"  is called and will return the view   !}}