<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


</head>
<body>
{{> header}}
<p>{{pageTitle}}</p>

{{> footer}}
</body>
</html>


{{! to mark comment we use this !}}
{{! header will make call to the header hbs and wil return the data return into it !}}