<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


</head>
<body>
{{> header}}
<p>{{Owner_Name}}</p>
<p>{{getCurrentYear}}</p>

<p>{{screamIt_welcomeMessage}}</p>

{{> footer}}
</body>
</html>
