!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


</head>
<body>
<h1> we'll be right back</h1>
<p>
    the site is currently being updated.
</p>
</body>
</html>



{{! find the app.use in app.js ..  this will help you to block the code and will display the a single string message  }}