<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


</head>
<body>
{{> header}}
<p>{{pageTitle}}</p>
<p>hello this is  project hbs</p>

<p>{{screamIt_welcomeMessage}}</p>

{{> footer}}
</body>
</html>
